{% extends "base.html" %}
{% block title %}{{ app_name }}{% endblock %}
{% block content %}
<header class="overview-header">
  {% include "account_menu.html" %}
</header>
{% if app_logo_url %}<img src="{{ app_logo_url }}" alt="" class="overview-logo">{% endif %}
<h1 class="overview-title">{{ app_name }}</h1>
<div class="tiles">
  {% for page in nav_pages %}
  <a class="tile" href="{{ page.url_prefix }}">
    <span class="tile-icon">{{ page.name[0] }}</span>
    <span class="tile-name">{{ page.name }}</span>
    {% if page.description %}<span class="tile-description">{{ page.description }}</span>{% endif %}
  </a>
  {% endfor %}
</div>
{% endblock %}
