{
  "hosts": {
    "zima": {
      "hostname": "127.0.0.1",
      "user": "root",
      "os": "linux",
      "key": "/root/.ssh/id_ed25519"
    },
    "desktop": {
      "hostname": "192.168.1.20",
      "user": "YourWindowsUser",
      "os": "windows",
      "password": "${DESKTOP_SSH_PASSWORD}"
    }
  },
  "email": {
    "smtp_server": "smtp.gmail.com",
    "smtp_port": 465,
    "security": "ssl",
    "from": "you@gmail.com",
    "password": "${SMTP_PASSWORD}",
    "approver_emails": ["you@gmail.com"]
  }
}
