{
  "server": {
    "enabled": true
  },
  "gen": {
    "enabled": true
  },
  "web": {
    "enabled": true
  },
  "scrape": {
    "enabled": true
  },
  "usage": {
    "enabled": true
  },
  "vault": {
    "enabled": true
  },
  "repo": {
    "enabled": true
  },
  "data": {
    "enabled": true
  },
  "email": {
    "enabled": true
  },
  "watch": {
    "enabled": true
  }
}
